.board {
  height: 100%;
  transform: scale(.8) perspective(100vh) rotateX(30deg);
  background-size: cover;
  background-image: url("/assets/mergedBoardImage.png");
}
 
.container {
  position: relative;
  display: flex;
  margin: auto;
  transform: scale(0.7) translateY(-90px);
}
  
.card {
  display: flex;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.example-card {
  margin: 0 !important;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.health {
  background-color: #f3e600;
  height: 30px;
  position: absolute;
  top: 0;
}