<div class="board" style="height: 100%; background-image: url('/assets/mergedBoardImage.png'); background-size: cover;">
  <div style="height: 45%;">
    <h1 style="position: absolute;">Adversaire</h1>
    <div style="position: absolute; top: 40px; left: 10px; width: 200px; height: 20px;" [ngStyle]="{'background-color': enemyHealthPercentage >= 50 ? 'green' : 'red', 'border-radius': '5px'}">
      <div [style.width.%]="enemyHealthPercentage" style="height: 100%; border-radius: 5px;">
        <span style="display: block; text-align: center; line-height: 20px; color: white;">{{ enemyHealthPercentage }}%</span>
      </div>
    </div>
    <div style="display: flex; position: absolute; width: 100%; top: -100px;">
      <div class="container">
        <app-card *ngFor="let card of enemycards" [show]="'back'" class="card"></app-card>
      </div>
    </div>
  </div>
  <div style="height: 45%;">
    <h1 style="position: absolute;">Mon jeu</h1>
  </div>

  <div style="display: flex; position: absolute; width: 100%; bottom: -70px;">
    <div class="container">
      <app-card *ngFor="let card of mycards" [attack]="card.attack" [defense]="card.defense" [imageUrl]="card.imageUrl"
        [health]="card.defense" [name]="card.name" class="card">
      </app-card>
    </div>
    <div style="position: absolute; bottom: 40px; left: 50%; transform: translateX(-50%); width: 200px; height: 20px;" [ngStyle]="{'background-color': playerHealthPercentage >= 50 ? 'green' : 'red', 'border-radius': '5px'}">
      <div [style.width.%]="playerHealthPercentage" style="height: 100%; border-radius: 5px;">
        <span style="display: block; text-align: center; line-height: 20px; color: white;">{{ playerHealthPercentage }}%</span>
      </div>
    </div>
  </div>
</div>
