<mat-card class="supercard"
  [style.background-image]="show==='back' ? 'url('+beautifulBackUrl+')' : 'url('+imageUrl+')'">
  <mat-card-header style="background-color: #0008;" class="rounded-t-sm">
    <mat-card-title>{{name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content
    style="display: flex; justify-content: flex-end; flex-direction: column; align-content: center; height: 100%"
    *ngIf="show==='front'">
    <table style="font-size: 2em; font-size: 2em; width: fit-content;" class="bg-gray-700 bg-opacity-50 rounded-md p-4">
      <tr class="m-2">
        <td><i class="fas fa-fist-raised"></i></td>
        <td>{{attack}}</td>
      </tr>
      <tr class="m-2">
        <td><i class="fas fa-shield-alt"></i></td>
        <td>{{defense}}</td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>