<form (ngSubmit)="onSubmit()">
    <div>
      <label for="name">Nom :</label>
      <input type="text" id="name" [(ngModel)]="card.name" name="name" required>
    </div>
    <div>
      <label for="attack">Attaque :</label>
      <input type="number" id="attack" [(ngModel)]="card.attack" name="attack" required>
    </div>
    <div>
      <label for="defense">Défense :</label>
      <input type="number" id="defense" [(ngModel)]="card.defense" name="defense" required>
    </div>
    <div>
      <label for="imageUrl">URL de l'image :</label>
      <input type="text" id="imageUrl" [(ngModel)]="card.imageUrl" name="imageUrl" required>
    </div>
    <button type="submit">Enregistrer</button>
  </form>