<button mat-raised-button [routerLink]="['/login']" color="accent">Login</button>
<span style="margin-left: 10px;"></span>
<button mat-raised-button [routerLink]="['/register']" color="accent">Register</button>
<span style="margin-left: 10px;"></span>
<button mat-raised-button [routerLink]="['/match']" color="accent">Board</button>
<div style="display: flex; padding: 10px;">
  <app-card [attack]="catcard.attack" [defense]="catcard.defense" [imageUrl]="catcard.imageUrl" [health]="catcard.defense" [name]="catcard.name"></app-card>
  <span style="margin-left: 10px;"></span>
  <app-card [show]="'back'"></app-card>
</div>

<span style="margin-left: 10px;"></span>

